h1{
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 5em;
    margin: 0px;
}

span{
    font-family: 'Noto Sans', sans-serif;
    font-size: 8em;
    justify-self: center;
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: auto;
}


main{display:flex; 
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(211,155,206);
    padding: 0px;
    margin: 0px;
}

.cover-result {
    display: flex;
    justify-content: center;
    width: 100%;
}

.gif-high{
    height: 30em;
    width:30em;
    background-image: url(./stressberat.gif) ;
    background-size:cover;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(255,255,255,.5);
    /* margin-left: 100px; */
    
}

.gif-intermediate{
    height: 30em;
    width:30em;
    background-image: url(./stresssedang.gif) ;
    background-size:cover;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(255,255,255,.5);
    /* margin-left: 100px; */
    
}

.gif-low{
    height: 30em;
    width:30em;
    background-image: url(./stressringan.webp) ;
    background-size:cover;
    border-radius: 8px;
    box-shadow: 5px 10px rgba(255,255,255,.5);
    /* margin-left: 100px; */
    
}