.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(245, 229, 229);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.layer {
  /* background-color: aqua; */
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.layer h1 {
  color: black;
  font-style: normal;
  font-weight: 1;
  text-transform: uppercase;
}

.absolute {
  position: bottom;
}

button {
  border: none;
  padding: 10px 35px;
  /* background-color: rgb(175, 226, 243); */
  color: rgb(12, 11, 11);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: rgb(194, 196, 197);
}

.number-layer {
  /* background-color: aqua; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.home {
  top: 20px;
  left: 20px;
}

#home {
  display: flex;
}

#start {
  display: none;
}

#layer1 {
  display: none;
}

#layer2 {
  display: none;
}

#layer3 {
  display: none;
}

#layer4 {
  display: none;
}

#layer5 {
  display: none;
}

#layer6 {
  display: none;
}

#layer7 {
  display: none;
}
#layer8 {
  display: none;
}
#layer9 {
  display: none;
}
#layer10 {
  display: none;
}

#finish {
  display: none;
}

#failed {
  display: none;
}

h1 {
  font-family: "Roboto Slab", serif;
}

#h1-result {
  font-size: 5em;
  margin: 0px;
}

#hasilTest {
  font-family: "Noto Sans", sans-serif;
  font-size: 8em;
  justify-self: center;
  margin-right: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.layer-finish main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(211, 155, 206);
  padding: 0px;
  margin: 0px;
}

#cover-result {
  display: flex;
  justify-content: center;
  width: 100%;
}

#gif-high {
  height: 30em;
  width: 30em;
  background-image: url(./stressberat.gif);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

#gif-intermediate {
  height: 30em;
  width: 30em;
  background-image: url(./stresssedang.gif);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

#gif-low {
  height: 30em;
  width: 30em;
  background-image: url(./stressringan.webp);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

.hasil-container h1 {
  font-family: "Roboto Slab", serif;
}

.hasil-container h1 {
  font-size: 5em;
  margin: 0px;
}

.hasil-container span {
  font-family: "Noto Sans", sans-serif;
  font-size: 8em;
  justify-self: center;
  margin-right: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.hasil-container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(211, 155, 206);
  padding: 0px;
  margin: 0px;
}
.hasil-container .cover-result {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hasil-container .gif-high {
  height: 30em;
  width: 30em;
  background-image: url(./stressberat.gif);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

.hasil-container .gif-intermediate {
  height: 30em;
  width: 30em;
  background-image: url(./stresssedang.gif);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

.hasil-container .gif-low {
  height: 30em;
  width: 30em;
  background-image: url(./stressringan.webp);
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 10px rgba(255, 255, 255, 0.5);
  /* margin-left: 100px; */
}

.animasi {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.btn-konsul {
  padding: 25px 80px;
  margin-top: 70px;
  margin-bottom: 400px;
  margin-left: 100px;
  border-radius: 30px;
  float: right;
  font-family: Montserrat;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  background-color: #3498db;
  border-bottom: 5px solid #2980b9;
  text-shadow: 0px -2px #2980b9;
}

.btn-konsul:active {
  transform: translate(220px, 52px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
